@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");


:root{
    --accent-1: #091235;
    --accent-2: #FCA311;
    --button-accent-2: #FEC872;
    --text-accent-2: #D8BD8A;
}

html, body{
    width: 100vw;
    height: 100dvh;
    margin: 0%;
    padding: 0%;
    color: white;
}
