@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");


:root{
    --accent-1: #091235;
    --accent-2: #FCA311;
    --button-accent-2: #FEC872;
    --text-accent-2: #D8BD8A;
}

html, body{
    width: 100vw;
    height: 100dvh;
    margin: 0%;
    padding: 0%;
    color: white;
    overflow-x: hidden;
}


h1{
    margin: 0%;
    font-size: clamp(3rem, calc(7vw + 0.7rem), 6rem);
}

h2{
    margin: 0%;
    font-size: clamp(2.5rem, calc(5vw + 0.7rem), 3.5rem);
}

h3{
    margin: 0%;
    font-size: clamp(2rem, calc(3.5vw + 0.7rem), 2.5rem);
}

h4{
    margin: 0%;
    font-size: clamp(1.6rem, calc(2vw + 0.2rem), 2.6rem);
}

h5{
    text-decoration: none;
    margin: 0%;
    font-size: clamp(1.2rem, calc(1vw + 0.3rem), 1.6rem);
}

h6{
    margin: 0%;
    font-size: clamp(0.5rem, calc(0.65vw + 0.4rem), 1.4rem);
}


.text-highlight{
    color: var(--accent-2);
}
