<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="../index.css">
    <div class="main-header">
        <div class="logo">
            <h1>ShipDecKK</h1>
        </div>
        <div class="menu-items">
            <a href="" class="header-link">Gallery</a>
            <a href="" class="header-link">Services</a>
            <a href="" class="header-link">About Us</a>
            <a href="" class="sub-button">Subscribe</a>
        </div>
        <button onclick="header_sidebar_open()" id="header-button">
            <span class="material-symbols-outlined">menu</span>
        </button>
    </div>
    <!-- Hidden Sidebar -->
        <div class="header-sidebar"  id="header-menu">
            <button onclick="header_sidebar_close()" id="close-button">
                <p class="sidebar-text">Close</p>
                <span class="material-symbols-outlined">close</span>
            </button>
            <div class="sidebar-actions">
                <a href="">
                    <p class="sidebar-text">Gallery</p>
                </a>
                <a href="">
                    <p class="sidebar-text">Services</p>
                </a>
                <a href="">
                    <p class="sidebar-text">About Us</p>
                </a>
                <a href="" class="sub-button">Subscribe</a>
            </div>
    </div>
    <script>
        function header_sidebar_open(){
            document.getElementById("header-menu").style.display = "flex";
        }

        function header_sidebar_close(){
            document.getElementById("header-menu").style.display = "none";
        }
    </script>
</body>
</html>